.homemessage{
    background:url("https://images.squarespace-cdn.com/content/v1/5e72c8bfe21ad940ba788673/1620997204489-WTK4ZHBFVUJQLWRA4SE6/contact-airbnb-thumbnail.jpg");
    height: 60vh;
    background-size: cover;
}

.homemessage > h2 {
    color: white;
    font-size: 50px;
    font-weight: 600;
    margin-left: 22%;
    margin-right: 22%;
    padding-top: 10%;
}



/* .contact{
    position: relative;
    min-height: 50vh;
    padding: 50px 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: rgba(30, 54, 75, 0.842);
    
    
}

.contact .content {
        max-width: 800px;
        text-align: center;
}

.contact .content > h2 {
    font-size: 36px;
    font-weight: 500;
    color: #fff;
}


.contact .content > p {
font-weight: 300;
color: #fff;
}



.container .contact__info {
    width: 50%;
    display: flex;
    flex-direction: column;
    
}

.container .contact__info .box {
    position: relative;
    padding: 20px 10px ;
    display: flex;
}

.container .contact__info .box .icon {
    min-width: 60px;
    height: 60px;
    background: #fff;
    display: flex;
    justify-content:center;
    align-items: center;
} */