.banner {
  background: url("https://afar-production.imgix.net/uploads/images/afar_post_headers/images/gdntiXwsip/original_3-cabin-rentals-airbnb-atlanta_20treehouse.jpg?auto=compress,format&fit=crop&crop=top&lossless=true&w=1080")
    center center;
    height: 90vh;
    background-repeat:no-repeat;
    background-size:70% 80%;
    background-color: black;

    
}

.banner__info {
  color: white;
  padding-top: 60vh;
  padding-left: 200px;
  padding-right: 50px;
  padding-bottom: 40px;
}

.banner__search {
  display: flex;
  flex-direction: column;
}


.banner__searchButton {
  background-color: black !important;
  font-weight: 900 !important;
  text-transform: inherit !important;
  color: #cc2e4a !important;
}


.banner__info > button {
  background-color: #cc2e4a;
  color: white;
  text-transform: inherit;
  margin-top: 20px;
  font-weight: 600;
}


.banner__info > button:hover {
  background-color: white;
  color: #cc2e4a;
}