.footer{
    display: flex;
    margin-right: 20px;
    justify-content: center;
    border-top: 1px solid lightgray;
    padding: 20px;
    background-color: #f7f7f7;
    bottom: 0;
    
}

.footer-left {
    margin-right: 12px;

}
.footer-left >p {
    margin-top: 10px;
}

.footor-main {

}

.footer-right{


}

.footer-end {

}

