
.home >h1 {
    padding-top: 100px;
    padding-left: 100px;
   
}

.home__section {
    top: -50px;
    display: flex;
    margin: 80px;
}


.exp-h1 >h1 {
    padding-top: 10px;
    padding-left: 100px;
}

.explore {
    display: flex;
    top: -50px;
    margin: 80px;  
}

.link{
    text-decoration: none;
    color:white;
}

